
<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
  <div class="sidebar-header">
    <a href="#" class="sidebar-logo">{{
      isSidebarCollapsed ? 'A' : 'Angular Features'
    }}</a>
  </div>
  <div class="sidebar-menu">
    <ul>
      @for (item of menuItems; track $index) {
        <li class="sidebar-menu-item">
          <a
            href="#"
            class="sidebar-item"
            [ngClass]="{
              'has-children': item.children,
              'menu-item-active': item.isOpen
            }"
            (click)="toggleMenuItem(item)"
          >
            <i [class]="item.icon"></i>
            <span class="sidebar-item-text">{{ item.label }}</span>
            @if (item.children && !isSidebarCollapsed) {
              <i
              class="fas fa-chevron-down sidebar-item-arrow"
              [ngClass]="{ rotated: item.isOpen }"
            ></i>
            }
          </a>
          @if (item.children && !isSidebarCollapsed && item.isOpen) {
            <ul class="sidebar-submenu" >
              @for (child of item.children; track $index) {
                <li>
                  <a href="#" class="sidebar-item sidebar-subitem">
                    <i [class]="child.icon"></i>
                    <span class="sidebar-item-text">{{ child.label }}</span>
                  </a>
                </li>
              }
          </ul>
          }
        </li>
      }
    </ul>
  </div>
</div>